.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

logs/
target/
.idea/
.idea_modules/
.classpath
.project
.settings/
.vertx/
.vscode/
bin/
classes/
RUNNING_PID
*.iml
*.ipr
*.iws

# office temp files
~$*
